:root {
    --lang-selector-animation-duration: 1.5s;
    --lang-selector-animation-delay: 0s;
}

.OperationSelector {
    &-Wrapper {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5rem 1rem;
        gap: 2.5rem;
    }

    &-Header {
        text-align: center;
        text-transform: capitalize;
        line-height: normal;
        font-size: 2rem;
        font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
        opacity: 0;

        html[dir='ltr'] & {
            letter-spacing: 4.8px;
        }

        @include tablet-and-mobile {
            font-size: 1.5rem;
            font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
        }

        &_inView {
            animation: drop-down var(--lang-selector-animation-duration) forwards ease-out
                var(--lang-selector-animation-delay) 1 normal;
        }
    }
}

@keyframes drop-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
