.PageFooter {
    &-Wrapper {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 16px;
        border-top: 0.8px solid rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    &-Text {
        font-family: var(--font-cairo);
        font-size: 1.25rem;
        font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);

        @include tablet-and-mobile {
            font-size: 1rem;
            font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
        }
    }

    &-Icon {
        fill: var(--primary-base-color);
        width: 2rem;
        aspect-ratio: 1;
        transition: all 0.7s;

        :hover {
            fill: var(--primary-dark-color);
        }
    }
}
