:root {
    --max-height: 95vh;
    --dimension-thickness: 3rem;
}

.QuarterPreview {
    &-Wrapper {
        width: 50%;
        height: var(--max-height);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include tablet-and-mobile {
            width: 100%;
            height: unset;
        }
    }

    &-ContentWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        @include tablet-and-mobile {
            height: var(--quarter-height);
        }
    }

    &-Quarter {
        position: relative;
        background-color: var(--color-white);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: calc(var(--max-height) - var(--dimension-thickness));
        border: 1px solid #000;

        @include tablet-and-mobile {
            height: auto;
            width: 100%;
        }
    }

    &-GridLine {
        position: absolute;
        z-index: 1;

        &_vertical {
            top: 0;
            height: 100%;
            width: 0;
            border-left: 1px dashed #999;
        }

        &_horizontal {
            left: 0;
            width: 100%;
            height: 0;
            border-top: 1px dashed #999;
        }

        &_last {
            border-color: var(--color-red);
            border-width: 2px;
        }
    }

    &-BoxSize {
        position: absolute;
        z-index: 2;
        transform: translate(50%, -50%);
    }

    &-BoxSizeLabel {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 0rem 0.5rem;
        border-radius: 0.25rem;
        border: 1px solid var(--secondary-base-color);
        white-space: nowrap;
        text-align: center;
    }

    &-Dimension {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &_width {
            align-self: center;
            margin-left: 3rem;
            height: var(--dimension-thickness);

            html[dir='ltr'] & {
                margin-left: 0;
                margin-right: 3rem;
            }
        }

        &_height {
            height: 100%;
            width: var(--dimension-thickness);
            flex-shrink: 0;

            .QuarterPreview-DimensionLine {
                height: 100%;
                flex-direction: column;

                .QuarterPreview-Text {
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    transform: rotate(180deg);
                    margin: 0.5rem 0;
                }
            }
        }
    }

    &-DimensionLine {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .QuarterPreview-Text {
            margin: 0 0.5rem;
        }
    }

    &-Arrow {
        position: relative;

        &_left,
        &_right {
            width: 50%;
            height: 2px;
            background-color: var(--secondary-base-color);
        }

        &_top,
        &_bottom {
            width: 2px;
            height: 50%;
            background-color: var(--secondary-base-color);
        }
    }

    &-Text {
        font-family: var(--font-cairo);
        color: var(--secondary-base-color);
        font-size: 1.5rem;
        font-size: clamp(1.2rem, 1.14rem + 0.3vw, 1.5rem);
        line-height: normal;
        white-space: nowrap;

        @include tablet-and-mobile {
            font-size: 1.3rem;
            font-size: clamp(1.3rem, 1.14rem + 0.3vw, 1.5rem);
        }
    }
}
