@font-face {
    font-family: 'akira_expanded';
    src: url('/fonts/akira_expanded-bold-normal.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'cairo';
    src: url('/fonts/cairo-regular-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'rubik';
    src: url('/fonts/rubik-regular-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
