:root {
    // Colors
    --color-black: #06010a;
    --color-white: #ffffff;
    --color-gray: #efefef;
    --color-dark-gray: #a2a2a2;
    --color-darker-gray: #9f9f9f;
    --color-darkest-gray: #696969;
    --color-green: #{$secondary-base-color};
    --color-red: #d90000;
    --color-blue: #00f0ff;

    --primary-base-color: #{$primary-base-color};
    --primary-light-color: #{lighten($primary-base-color, 10%)};
    --primary-dark-color: #{darken($primary-base-color, 10%)};
    --secondary-base-color: #{$secondary-base-color};
    --secondary-light-color: #{lighten($secondary-base-color, 10%)};
    --secondary-dark-color: #{darken($secondary-base-color, 10%)};

    --color-background: #d2b48c;

    // Font
    --font-main-color: #5d4037;
    --font-size-base: 16px;
    --font-size-base-mobile: 12px;
    --font-akira: 'akira_expanded', 'Nunito', sans-serif;
    --font-cairo: 'cairo', 'Nunito', sans-serif;
    --font-rubik: 'rubik', 'Nunito', sans-serif;
}
