.OptionElement {
    &-Wrapper {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem;
        padding-bottom: 0;
        width: 100%;

        font-family: var(--font-cairo);
        line-height: normal;
        font-size: 1.8rem;
        font-size: clamp(1.4rem, 1.14rem + 0.3vw, 1.8rem);

        & strong {
            color: var(--secondary-base-color);
        }
    }

    &-Content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        width: 100%;
    }

    &-Header {
        font-family: var(--font-akira);
        font-size: 2rem;
        font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
        text-transform: capitalize;
        text-align: center;
        line-height: normal;

        @include tablet-and-mobile {
            font-size: 1.5rem;
            font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
        }
    }

    &-Error {
        color: var(--color-red);
        height: 1.5em;
        line-height: 1.5em;
    }
}
