:root {
    --circle-size-large: 6.5625rem;
    --circle-size-medium: 5.375rem;
    --circle-size-small: 3.3125rem;
    --circle-size-tiny: 2.625rem;
    --circle-animation-duration: 1.8s;
    --circle-animation-delay: 0.5s;
}

.ColorfulCircle {
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    opacity: 0;

    &_color {
        &_primary {
            background-color: var(--primary-base-color);
        }

        &_secondary {
            background-color: var(--secondary-base-color);
        }
    }

    &_location {
        &_topLeft {
            height: var(--circle-size-medium);
            width: var(--circle-size-medium);
            left: calc(-1 * (var(--circle-size-medium) / 2));
            top: calc(17% - (var(--circle-size-medium) / 2));
            animation: primary-circle-up var(--circle-animation-duration) forwards ease-out
                var(--circle-animation-delay) 1 normal;
        }

        &_bottomLeft {
            height: var(--circle-size-large);
            width: var(--circle-size-large);
            left: calc(-1 * (var(--circle-size-large) / 2));
            bottom: calc(-1 * (var(--circle-size-large) / 2));
            animation: secondary-circle-down var(--circle-animation-duration) forwards ease-out
                var(--circle-animation-delay) 1 normal;
        }

        &_topRight {
            height: var(--circle-size-small);
            width: var(--circle-size-small);
            right: calc(-1 * (var(--circle-size-small) / 2));
            top: calc(-1 * (var(--circle-size-small) / 2));
            animation: secondary-circle-up var(--circle-animation-duration) forwards ease-out
                var(--circle-animation-delay) 1 normal;
        }

        &_bottomRight {
            height: var(--circle-size-tiny);
            width: var(--circle-size-tiny);
            right: calc(-1 * (var(--circle-size-tiny) / 2));
            bottom: 10%;
            animation: primary-circle-down var(--circle-animation-duration) forwards ease-out
                var(--circle-animation-delay) 1 normal;
        }
    }
}

@keyframes primary-circle-up {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(120vh);
    }

    100% {
        opacity: 1;
    }
}

@keyframes primary-circle-down {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(-70vh);
    }

    100% {
        opacity: 1;
    }
}

@keyframes secondary-circle-up {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(50vh);
    }

    100% {
        opacity: 1;
        background-color: var(--primary-base-color);
        border: 2px solid var(--color-white);
    }
}

@keyframes secondary-circle-down {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(-125vh);
    }

    100% {
        opacity: 1;
        background-color: var(--secondary-base-color);
        border: 2px solid var(--color-white);
    }
}
