.PieceSizeOptionElement {
    &-InputWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.5rem;
        border: 2px solid var(--color-gray);
        box-shadow: 0px 0px 7px var(--color-gray);
        padding: 0 0.8rem;
        width: 30%;
        height: 3.5rem;
        transition: all 0.5s;

        @include tablet-and-mobile {
            width: 90%;
            height: 4rem;
        }

        &:focus-within {
            box-shadow: 0px 0px 7px var(--primary-base-color);
        }
    }

    &-Input {
        height: 100%;
        box-shadow: inset 0px 0px 6px var(--color-dark-gray);
        border-left: 2px solid var(--color-gray);
        border-right: 2px solid var(--color-gray);
        font-size: 1.8rem;
        font-size: clamp(1.4rem, 1.14rem + 0.3vw, 1.8rem);
        line-height: normal;
        text-align: center;
        min-width: 30%;
        transition: all 0.5s;

        &:focus {
            box-shadow: inset 0px 0px 6px var(--primary-base-color);
        }
    }

    &-Label {
        min-width: 12%;
        user-select: none;
        text-align: center;
    }
}
